<!doctype html>
<html>
<head>
      <!--
      The IE Compatibility flag, while not always necessary, makes sure your page
      will always load in IE11+ rendering mode instead of being limited to IE7
      features and behaviors. While IE11 is still relatively old as a rendering
      engine, it supports the most fundamental parts needed for modern webpages to
      function correctly.
      Neutron will do its best to enable IE11+ rendering mode regardless of this
      tag, but in current releases pages will not render correctly when compiled
      unless this tag is present. Because of that and other edge cases, any page
      you write to load in Neutron should contain this meta tag.
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="./">
    <title>Northgard Advanced Hotkeys</title>
    <meta property="og:title" content="Northgard Advanced Hotkeys" />
    <meta name="twitter:title" content="Northgard Advanced Hotkeys" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <!-- Compressed Styles -->
    <link href="main.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="main.css" rel="stylesheet">
    <!-- Fonts and Material Icons -->
    <link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Material+Icons&display=swap"/>
    <style>
        .slides { font-family: 'Inter', sans-serif; }
    </style>
</head>
<body class="slides cards animated noPreload">
<!-- SIDE NAVIGATION -->
<nav class="side ">
  <div class="navigation default">
    <ul></ul>
  </div>
</nav>
<!-- TOP BAR DRAG -->
<nav class="drag-window-bar" onmousedown="neutron.DragTitleBar()"></nav>
<!-- TOP PANEL -->
<nav class="panel top">
  <div class="sections desktop">
    <div class="left" style="cursor: pointer;">
      <a title="Minimize" onclick="neutron.Minimize()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
        </svg>
      </a>
      <a title="Maximize" onclick="neutron.Maximize()" style="margin-left: 14px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
          <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </a>
      <a title="Close" onclick="neutron.Close()" style="margin-left: 14px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
          <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
        </svg>
      </a>
    </div>
    <div class="right">
      <ul class="menu">
        <li><a onclick="ahk.change_slide(event, 2)">Settings</a></li>
        <li><a onclick="ahk.change_slide(event, 4)">Help</a></li>
      </ul>
      <!-- <a id="start-button" class="button blue rounded small" onclick="ahk.toggle_suspend(event)">Start</a>
      <a id="stop-button" class="button blue rounded small" onclick="ahk.toggle_suspend(event)">Stop</a> -->
    </div>
  </div>
</nav>
<!-- SLIDE HOME -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-8-12">
          <h1 class="ae-1 smallest margin-bottom-2">Northgard Advanced Hotkeys</h1>
          <p class="ae-2 large margin-bottom-2"><span class="opacity-8">He takes snapshots, makes notes and records impressions on tablecloths or newspapers, on backs of envelopes or matchbooks. Why one thing and not another is part of the mystery, but he is&nbsp;omnivorous.</span></p>
          <a class="button rounded blue margin-top-1 ae-5 fromCenter">Get Started</a>
          <a class="button rounded white margin-top-1 ae-6 fromCenter">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(home_background.jpg)"></div>
</section>
<!-- SLIDE SETTINGS HOTKEY -->
<section class="slide whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-7-12">
          <h1 class="margin-bottom-2 ae-1">Hotkeys for buildings</h1>
          <p class="larger light ae-2"><span class="opacity-8">Set a custom configuration for your building hotkeys. Allowed values by AutoHotkey can be found in the documentation link below.</span></p>
          <label class="button rounded blue ae-3 fromCenter" for="submit-hotkey-buildings-form" tabindex="0">Save</label>
          <a class="button rounded white ae-3 fromCenter" href="https://www.autohotkey.com/docs/Hotkeys.htm#Symbols" target="_blank">Documentation</a>
          <div class="margin-top-3">
            <form id="hotkey-buildings-form" class="slides-form" action="#" autocomplete="off" onsubmit="ahk.submit_building_hotkeys(event)">
              <input id="submit-hotkey-buildings-form" type="submit" hidden></input>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SLIDE SETTINGS LORE -->
<section class="slide whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-7-12">
          <h1 class="smaller margin-bottom-2 ae-1">Lore autoskill</h1>
          <p class="large ae-2"><span class="opacity-8">Just click the image below in the order, in which the script should skill your lore. If you don't want to use this function uncheck the box. Disclaimer: Autoskill doesn't work for Svafnir (snake clan).</span></p>
          <a class="button rounded blue ae-3 fromCenter" href="https://www.autohotkey.com/docs/Hotkeys.htm#Symbols" target="_blank">Save</a>
          <a class="button rounded white ae-3 fromCenter" href="https://www.autohotkey.com/docs/Hotkeys.htm#Symbols" target="_blank">Reset</a>
          <img class="ae-4 fromBottom" src="common_lore.png" alt="Lore" usemap="#lore" height="482" width="1028">
          <map name="lore">
            <!-- COLUMN 1 -->
            <area onclick="ahk.lore_clicked(event, 'sharp_axes')" shape="rect" coords="34,47,230,94" alt="sharp_axes">
            <area onclick="ahk.lore_clicked(event, 'weaponsmith')" shape="rect" coords="34,187,230,233" alt="weaponsmith">
            <area onclick="ahk.lore_clicked(event, 'the_value_of_great_deeds')" shape="rect" coords="34,327,230,372" alt="the_value_of_great_deeds">
            <!-- COLUMN 2 -->
            <area onclick="ahk.lore_clicked(event, 'colonization')" shape="rect" coords="291,16,488,62" alt="colonization">
            <area onclick="ahk.lore_clicked(event, 'eradication')" shape="rect" coords="291,79,488,125" alt="eradication">
            <area onclick="ahk.lore_clicked(event, 'fur_coats')" shape="rect" coords="291,156,488,202" alt="fur_coats">
            <area onclick="ahk.lore_clicked(event, 'defensive_strategy')" shape="rect" coords="291,219,488,256" alt="defensive_strategy">
            <area onclick="ahk.lore_clicked(event, 'ship_building')" shape="rect" coords="291,296,488,341" alt="ship_building">
            <area onclick="ahk.lore_clicked(event, 'coinage')" shape="rect" coords="291,359,488,404" alt="coinage">
            <!-- COLUMN 3 -->
            <area onclick="ahk.lore_clicked(event, 'hero_emblem')" shape="rect" coords="548,16,745,62" alt="hero_emblem">
            <area onclick="ahk.lore_clicked(event, 'medicine')" shape="rect" coords="548,79,745,125" alt="medicine">
            <area onclick="ahk.lore_clicked(event, 'young_and_proud')" shape="rect" coords="548,156,745,202" alt="young_and_proud">
            <area onclick="ahk.lore_clicked(event, 'feeling_safe')" shape="rect" coords="548,219,745,256" alt="feeling_safe">
            <area onclick="ahk.lore_clicked(event, 'erudition')" shape="rect" coords="548,296,745,341" alt="erudition">
            <area onclick="ahk.lore_clicked(event, 'carpentry_mastery')" shape="rect" coords="548,359,745,404" alt="carpentry_mastery">
            <!-- COLUMN 4 -->
            <area onclick="ahk.lore_clicked(event, 'food_preservation')" shape="rect" coords="805,16,1003,62" alt="food_preservation">
            <area onclick="ahk.lore_clicked(event, 'shiny_happy_people')" shape="rect" coords="805,79,1003,125" alt="shiny_happy_people">
            <area onclick="ahk.lore_clicked(event, 'legendary_heroes')" shape="rect" coords="805,156,1003,202" alt="legendary_heroes">
            <area onclick="ahk.lore_clicked(event, 'monster_slayer')" shape="rect" coords="805,219,1003,256" alt="monster_slayer">
            <area onclick="ahk.lore_clicked(event, 'negotiation')" shape="rect" coords="805,296,1003,341" alt="negotiation">
            <area onclick="ahk.lore_clicked(event, 'glory_of_the_clan')" shape="rect" coords="805,359,1003,404" alt="glory_of_the_clan">
            <!-- BLESSINGS -->
            <area onclick="ahk.lore_clicked(event, 'freya')" shape="rect" coords="220,434,416,476" alt="freya">
            <area onclick="ahk.lore_clicked(event, 'baldr')" shape="rect" coords="425,434,621,476" alt="baldr">
            <area onclick="ahk.lore_clicked(event, 'jord')" shape="rect" coords="631,434,827,476" alt="jord">
          </map>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SLIDE HELP -->
<section class="slide whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-5-12">
          <div class="fix-3-12 margin-bottom-5">
            Just a video
          </div>
          <div class="videoThumbnail shadow rounded ae-4 fromCenter popupTrigger" data-popup-id="4">
            <img src="video-4.jpg" alt="Video Thumbnail"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SLIDE HELP VIDEO -->
<div class="popup autoplay" data-popup-id="4">
  <div class="close">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
      <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
    </svg>
  </div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent shadow rounded">
            <iframe data-src="https://www.youtube.com/embed/g8yBqxTiHSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SLIDE SUPPORT -->
<section class="slide whiteSlide">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-7-12">
          <h1 class="smaller margin-bottom-2 ae-1">Support the developer</h1>
          <p class="large ae-2"><span class="opacity-8">Using Northgard Advanced Hotkeys regulary? <b>Awesome!</b></br>I have put a lot of hours into the project to provide a completly free and improved gaming experience for everybody. If you decide to give back a little though, you could provide me with some caffeine, so I can add more features and keep fixing bugs in the future.</span></p>
          <a href="microsoft-edge:https://www.buymeacoffee.com/codingdurant"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-violet.png" alt="Buy me a coffee" style="height: 60px !important;width: 217px !important;" ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- SLIDE OPEN SOURCE -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-7-12">
          <h1 class="smaller margin-bottom-2 ae-1">Open source</h1>
          <p class="large ae-2"><span class="opacity-8">Northgard Advanced Hotkeys is an Open source project licensed under <b>MIT</b>. Meaning, you can contribute or copy and edit the code in any way you see fit. Don't hesitate to create an issue, if you find a bug or to ask for help. You can click the Github icon in the bottom right to get to the repository page.</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(git_background.jpg)"></div>
</section>
<!-- PANEL BOTTOM -->
<nav class="panel bottom forceMobileView">
  <div class="sections desktop">
    <div class="left"></div>
    <div class="center">
      <span class="nextSlide noText">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
      </span>
    </div>
    <div class="right"><a href="microsoft-edge:https://github.com/NicolasDurant/northgard_advanced_hotkeys"><span data-dropdown-id="2" class="button actionButton">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg>
    </span></a></div>
  </div>
  <div class="sections compact hidden">
    <div class="right">
      <span data-dropdown-id="2" class="button actionButton dropdownTrigger"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use></svg></span>
    </div>
  </div>
</nav>
<!-- jQuery 3.5.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compressed Scripts -->
    <script src="main.min.js"></script>
</body>
</html>
